.container{
    outline-style: solid;
    width: 600px;
} 
#top-nav{
    display:flex;
    justify-content: space-evenly;
}

#message{
    display: flex;
    justify-content: center;
}
#Amount-of-likes{
    
}